.pic-title {
  margin-top: 50px;
  float: right;
  background-color: white;
  width: 20%;
  opacity: 0.9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pic-title p {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  margin: 3px;
  padding: 3px;
}

.pic-title {
  animation-duration: 6s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: -100%;
 
  }

  to {
    margin-right: 0;

  }
}
